/******************************************************************************
 * Bootstrap overrides
 *****************************************************************************/
.table td {
	padding: 0.75rem 0.2rem 0rem 0.2rem;
}

/******************************************************************************
 * Global styles
 *****************************************************************************/
body {
	padding-top: 70px;
}

/******************************************************************************
 * Other
 *****************************************************************************/
.link {
	text-decoration: underline !important;
}

.pointer {
	cursor: pointer;
}