#
# This is a template for a .env file. When placed in the root of this repository it
# will control application settings when running the applications through Docker.
# To use this simply copy this file as ".env".
#
# When developing you may want to control settings for the server and viewer
# individually. Notice the sections "Server" and "Viewer" down below?
# Create a ".env" file in the ./cmd/fireplace-server directory and put
# the contents of the "Server" section in it.
#
# Then create a ".env" file in the ./cmd/fireplace-viewer directory
# and put the contents of the "Viewer" section in it.
#

# Server
FIREPLACE_SERVER_HOST=localhost:8999
FIREPLACE_SERVER_LOGLEVEL=debug
FIREPLACE_DATABASE_URL=mongodb://localhost:27017
FIREPLACE_SERVER_CERT=
FIREPLACE_SERVER_PASSWORD=password
FIREPLACE_PAGE_SIZE=100
FIREPLACE_CLEAN_LOG_INTERVAL_DAYS=60
FIREPLACE_CLEAN_LOG_SCHEDULE=0 0 * * *

# Viewer
FIREPLACEVIEWER_SERVER_HOST=localhost:8090
FIREPLACEVIEWER_SERVER_LOGLEVEL=debug
FIREPLACEVIEWER_FIREPLACE_URL=https://localhost:8999
FIREPLACEVIEWER_FIREPLACE_PASSWORD=password
FIREPLACEVIEWER_SERVER_CERT=

# Github private repos
GITHUB_TOKEN=
