<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Fireplace Viewer</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="shortcut icon" href="/www/fireplace-viewer/images/fire_pit.ico" />

	<link href="/www/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/www/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" />
	<link href="/www/fireplace-viewer/css/styles.css" rel="stylesheet" type="text/css" />

	<script src="/www/jquery/jquery-3.3.1.min.js"></script>
	<script src="/www/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div id="app" class="app"></div>
	<script src="/www/fireplace-viewer/js/main.bundle.js"></script>
</body>
</html>
