{{template "layout" .}}
{{define "title"}}View Logs{{end}}

{{define "content"}}
  <div class="container view-logs">
    <h2>View Logs</h2>

    <section class="filters">
      <div>
        <label for="server">Server</label>
        <server-selector id="serverID" server-id="0"></server-selector>
      </div>

      <div>
        <label for="application">Application</label>
        <application-selector id="application" disabled="true"></application-selector>
      </div>

      <div>
        <label for="logLevel">Log Level</label>
        <log-level-selector id="logLevel" disabled="true"></log-level-selector>
      </div>

      <div>
        <label for="search">Search</label>
        <input type="text" id="search" disabled />
      </div>

      <div>
        <label for="dateFrom">Date From</label>
        <input type="text" id="dateFrom" disabled />
        <small>
          Date format is <em>YYYY-MM-DDTHH:mm:dd</em><br/>
          All dates/times are in UTC
        </small>
      </div>

      <div>
        <label for="dateTo">Date To</label>
        <input type="text" id="dateTo" disabled />
        <small>
          Date format is <em>YYYY-MM-DDTHH:mm:dd</em><br/>
          All dates/times are in UTC
        </small>
      </div>

      <div class="break"></div>

      <button id="btnClear"><i class="icon--mdi icon--mdi--refresh"></i> Clear</button>
    </section>

    <section class="navigation-buttons">
      <button id="first" alt="Go to first page" title="First Page" disabled><i class="icon--mdi icon--mdi--skip-backward"></i></button>
      <button id="prev" alt="Go to previous page" title="Previous Page" disabled><i class="icon--mdi icon--mdi--skip-previous"></i></button>
      <span id="page">Page 0 of 0</span>
      <button id="next" alt="Go to next page" title="Next Page" disabled><i class="icon--mdi icon--mdi--skip-next"></i></button>
      <button id="last" alt="Go to last page" title="Last Page" disabled><i class="icon--mdi icon--mdi--skip-forward"></i></button>
    </section>

    <section class="results" id="results">
    </section>
  </div>
{{end}}