{{template "layout" .}}
{{define "content"}}
  <div class="container">
    <p>
      Your account has been created and is awaiting approval. Once your 
      account has been approved please log out and log back in again.
    </p>

    <p>
      While you wait here is a cute puppy.
    </p>

    <img src="/static/images/cute-puppy.jpg" alt="Cute puppy" />
  </div>
{{end}}
