{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{template "title" .}} | Fireplace</title>
  <link rel="stylesheet" href="/static/js/lib/frame/base.min.css" />
  <link rel="stylesheet" href="/static/js/lib/frame/components.min.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/js/lib/quill/quill.snow.css" />

  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
</head>

<body>
  <header>
    <div class="header-left">
      <a href="/"><img src="/static/images/header-dots.png" alt="image of dots" /></a>
      <h1>Fireplace</h1>
    </div>

    <div class="header-right">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#getfireplace">Get Fireplace</a></li>
          <li><a href="/view-logs">View Logs</a></li>
          <li><a href="/manage-servers">Manage Servers</a></li>
        </ul>
      </nav>

      <member-login-bar login-path="/member/login"></member-login-bar>
    </div>
  </header>

  <main>
    {{template "content" .}}
  </main>

  <footer>
    <section>
      1519 Toluca Dr.<br />
      League City, TX<br />
      77573
    </section>

    <section>
      Email: &nbsp;<a href="mailto:websites@appnerds.net">websites@appnerds.net</a>
    </section>

    <section>
      &copy; 2022 App Nerds LLC<br />
    </section>
  </footer>

  <script type="module" src="/static/js/pages/layout.js"></script>
  {{if .JavascriptIncludes}} 
    {{range .JavascriptIncludes}}
      <script type="{{.Type}}" src="/static/js{{.Src}}"></script>
    {{end}}
  {{end}}
</body>
</html>
{{end}}
