{{template "layout" .}}
{{define "content"}}
  <div class="container">
    <h2>Log In</h2>

    <google-login-form sign-in-button-url="/static/images/sign-in-with-google.jpg"></google-login-form>
  </div>
{{end}}
