{{template "layout" .}}
{{define "title"}}Manage Servers{{end}}

{{define "content"}}
<div class="container">
  <h2>Manage Servers</h2>
  <button id="btnAddNewServer" class="action-button"><i data-feather="plus"></i> Add New Server</button>

  <section id="servers"></section>
</div>
{{end}}
