FIREPLACE_SERVER_HOST=0.0.0.0:8999
FIREPLACE_SERVER_LOGLEVEL=debug
FIREPLACE_DATABASE_URL=mongodb://localhost:27017
FIREPLACE_SERVER_CERT=
FIREPLACE_SERVER_PASSWORD=password
FIREPLACE_PAGE_SIZE=100
FIREPLACE_CLEAN_LOG_INTERVAL_DAYS=60
FIREPLACE_CLEAN_LOG_SCHEDULE=0 0 * * *

